*{
    margin: 0;
}
.play{
    width: 15px; 
    height: 15px;
}

button{
    padding: 10px;
    margin: 12px;

    display: flex;
    gap: .4rem;
    align-items: center;
    
    line-height:0;

    background-color: rgb(140, 0, 255);
    color: white;
}
