*{
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
}

footer{
    height: 8rem;
    background-color: lightgray;

    display: flex;
    align-items: center;

    justify-content: center; 
    
    /* 
        margin-top: auto;
        pra colocar no fim da página, funciona dentro de um flex.

        flex:1
        para pegar toda a largura.
    */
    position: absolute;
    bottom: 0;
    width: 100%;
}

span{
    color: #000;
    font-size: 1.5rem;
}